@import "https://fonts.googleapis.com/css?family=Open+Sans&display=swap";
.notification {
  background: rgba(243, 230, 230, 0.39);
  height: 60px;
  border-radius: 20px;
  margin: 10px;
  color: rgb(211, 202, 222);
}
.center-text {
  text-align: center;
}

.transparent-input, .transparent-input::placeholder, .transparent-input:focus::placeholder, .transparent-input:focus {
  background: transparent;
  border-width: 2px;
  border-color: #ffffff;
  margin: 1px;
  border-radius: 2px;
}
.transparent-input:focus, .transparent-input:focus::placeholder {
  background: transparent;
}
.transparent-input::placeholder, .transparent-input:focus::placeholder {
  background: transparent;
  opacity: 1;
}

.bg-navbar {
  background: linear-gradient(to right, rgba(106, 89, 140, 0.1) 1%, rgba(106, 89, 140, 0.4) 100%);
}

.navbar-position {
  top: -100px !important;
  z-index: 1030;
}

nav .navbar-nav a {
  color: #27054b;
}
nav .navbar-header a {
  color: #27054b;
}
nav .nav-item:hover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.53) 100%);
}

body {
  background: rgba(122, 62, 152, 0.11);
  color: #27054b;
  margin-top: 5rem;
}

h1 {
  color: #27054b;
}

h2 {
  color: #27054b;
}

h3 {
  color: #27054b;
}

h4 {
  color: #27054b;
}

h5 {
  color: #27054b;
}

h6 {
  color: #27054b;
}

ul {
  margin: 0;
}

.content-section {
  background: #faf7f7;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 25px;
  margin-bottom: 20px;
}
.content-section:hover {
  border-color: #7c1f1f;
}

.article-title {
  color: #27054b;
}

a.article-title:hover {
  color: #27054b;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}
.article-metadata a:hover {
  color: #27054b;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  display: flex;
  margin-right: 20px;
  margin-bottom: 16px;
}

.list-img {
  width: 200px;
  height: 200px;
}

.siteheader-img {
  height: 30px;
  position: relative;
  display: inline-block;
}

.account-heading {
  font-size: 2.5rem;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -400px;
  background: linear-gradient(to right, rgba(106, 89, 140, 0.1) 1%, rgba(106, 89, 140, 0.4) 100%);
  overflow-x: hidden;
  transition: width 0.3s;
  transform: translate(-100%, 0%);
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #27054b;
  display: block;
  transition: width 0.3s;
}
.sidebar a:hover {
  background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.53) 100%);
  color: #27054b;
}

.media-body:hover {
  border-color: #7c1f1f;
}

#main {
  transition: margin-right 0.3s;
  padding: 16px;
}

#project {
  width: 300px;
}

.res-img {
  float: left;
  width: 70px;
  height: 70px;
}

.choices__item {
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  padding: 4px 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  margin-right: 3.75px;
  margin-bottom: 3.75px;
  background-color: #aaaaaa;
  border: 2px solid #000000;
  color: #fff;
  word-break: break-all;
}

.choices__button {
  color: #bbbb00;
  padding-left: 5px;
  opacity: 0.3;
}

/*# sourceMappingURL=main.css.map */
