{% load static %}
{% load compress %}

<form class="navbar-form navbar-left" method="get" action="{% url 'ch:search-page' %}">
   <input type="hidden" name="type" value="researchers"/>
    <div class="input-group">
        <input type="text" class="form-control transparent-input" placeholder="Search" aria-label="Search" name="q"
               id="searched">
        <div class="input-group-btn">
            <button class="btn btn-default transparent-input" type="submit">
                <b>?</b>
                {#                    <i class="glyphicon glyphicon-search" ></i>#}
            </button>
        </div>
    </div>
</form>

<div class="navbar-nav mr-auto">
    <a class="nav-item nav-link" href="{% url 'ch:about-page' %}">About Us</a>
</div>
