{% load static %}
{% load compress %}

<link type="text/x-scss" href="{% static 'css/dropdown.scss' %}" rel="stylesheet" media="screen">

{#<script src="{% static 'static/js/dropdown.js' %}"></script>#}

<div class="navbar-nav navbar-inverse">
    <style>
        .dropdown-item {
            color: black !important;
            background: transparent !important;
        }
        .dropdown-item a{
            color: black !important;
            background: transparent !important;
        }
        .dropdown-item:hover{
            color: black !important;
            background: rgba(0, 0, 0, 0.04) !important;
            border-color: rgba(0, 0, 0, 0.04) !important;
        }
        .dropdown-item:focus{
            color: white !important;
            background: rgba(0, 0, 0, 0.47) !important;
            border-color: rgba(0, 0, 0, 0.47) !important;
        }
    </style>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    {#    dropdown toolbar for user & settings#}
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link " data-toggle="dropdown" role="button"
                   id="navbarDropdownMenuLink" aria-haspopup="true"
                   aria-expanded="false">
                   <img class="rounded-circle siteheader-img" src="{{ user.profile.image.url  }}">
                </a>

                <div class="dropdown-menu" style="right: 0; left: auto; border-radius: 10px;"
                     aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="{% url 'users:profile-page' user.username %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'users:profile_update-page' user.username %}">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    {% if user.is_researcher %}
                        <a class="dropdown-item" href="#">My conferences</a>
                        <a class="dropdown-item" href="#">My scheduler</a>
{#                        <a class="dropdown-item" href="#">My organizations</a>#}
{#                        <a class="dropdown-item" href="#">My invites</a>#}
                    {% elif user.is_organization %}
                        {# TODO 41: add list of members with crud functionality#}
                        <a class="dropdown-item" href="#">Members</a>
                        {# TODO 40: add list with organization's conferences with a crud functionality#}
                        <a class="dropdown-item" href="{% url 'conferences:conf_display-page' user.username %}">Conferences</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'conferences:conf_create-page' user.username %}">New Conference</a>
                    {% else %}
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'users:logout-page' %}">Log Out</a>
                </div>
            </li>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'users:login-page' %}">Sign In</a>
            <a class="nav-item nav-link" href="{% url 'users:signup-page' %}">Sign Up</a>
        {% endif %}
    </div>

    {#    TODO 43: if bucket is empty, dont't show it #}
    {#    TODO 44: add a possibility to pay for a conference #}
    {% if user.is_authenticated %}
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="#">Bucket</a>
        </div>
    {% endif %}

    {#    TODO 45: add notifications (e-mail, browser)#}
    {% if user.is_authenticated %}
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'users:invites-page' %}">Invites</a>
        </div>
{#        <div class="navbar-nav mr-auto" onclick="manage_notification_bar()">#}
{#            <a class="nav-item nav-link">Invites</a>#}
{#        </div>#}
    {% endif %}
</div>
