<!-- author: Shchapaniak Andrei -->

{% load static %}
{% load compress %}

{% for object in object_list %}
    <li>
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img"
                     src=" {{ object.profile.image.url }} ">
                <div class="media-body">
                    <fieldset>
                        <a href="{% url 'users:profile-page' object.username %}">
                            <p class="account-heading">{{ object.name }} {{ object.researcher.last_name }}</p>
                        </a>
                        {% if object.is_researcher %}
                            <p class="text-secondary">Researcher</p>
                        {% elif object.is_organization %}
                            <p class="text-secondary">Organization</p>
                        {% endif %}
                        <p class="text-secondary">{{ object.username }}</p>
                        <p class="text-secondary">{{ object.email }}</p>
                        {% if object.address %}
                            <p class="text-secondary">Address: {{ object.address }}</p>
                        {% endif %}
                    </fieldset>
                    {% if user.is_superuser %}
                        <button type="button" class="btn btn-warning my_btn" id="status_btn"
                                            onclick="admin_users('change_status',
                                                        '{{ object.username }}')">
                            {% if object.status %}
                                Deactivate
                            {% else %}
                                Activate
                            {% endif %}
                        </button>
                        <button type="button" class="btn btn-danger my_btn"
                                            onclick="admin_users('delete_user',
                                                        '{{ object.username }}')">
                            Delete
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </li>

{% empty %}
    <li class="content-section empty-list center-text" >Nothing found</li>
{% endfor %}
