{% extends 'base.html' %}
{% load static %}
{% load djmoney %}
{% block content %}
    <a class="btn btn-sm btn-info" href="{% url 'conferences:conf_display-page' user.username %}">Back to conferences</a>
    <h1>{{ object.name }}
        <div>
            {% if user.is_organization %}
                <a class="btn btn-sm btn-info" href="{% url 'conferences:conf_edit-page' user.username object.conf_id %}">Edit conference</a>
                <a class="btn btn-sm btn-info" href="{% url 'conferences:conf_delete-page' user.username object.conf_id%}">Delete conference</a>
            {%  endif %}
        </div>
    </h1>
    <p>{{ object.date_from|date:"D, d M, Y" }} - {{ object.date_to|date:"D, d M, Y" }}</p>
    <p>Address: {{ object.address }}</p>
    <p>Price: {% money_localize object.price %}</p>
    <hr> Events:
    {% if object.events_list %}
        <ul>
            {% for event in object.events_list %}
                <li><a href="{% url 'conferences:event_detail-page' object.conf_id event.event_id %}">{{ event.location }} </a></li>
            {% endfor %}
        </ul>
    {% else %}
        There are no events added to this conference yet.
    {% endif %}
    </hr>
    {% if user.is_organization %}
        <hr> <a class="btn btn-sm btn-info" href="{% url 'conferences:event_create-page' object.pk user.username %}">Add a new event</a></hr>
    {% else %}
        <a class="btn btn-sm btn-info" href="{% url 'conferences:conf_add_user-page' object.pk user.username %}">Buy ticket</a>
    {%  endif %}
{% endblock %}