<!-- author: Khrystsiuk Dziyana -->

{% extends 'base.html' %}
{% load static %}
{% load djmoney %}
{% block content %}

    <div style=" background-color: orange">

        {#        <div class="btn_horizontal" style="position: absolute; top: 0;">#}
        {#            {% if user.is_organization %}#}
        {#            TODO 51: add path how we got here#}
        {#            TODO 52: change the button to the appropriate one#}
        {#                <div class="btn1_wide" href="{% url 'conferences:conf_display-page' user.username %}">Back</div>#}
        {#            {% endif %}#}
        {#        </div>#}

        <div class="content-section row justify-content-between">

            <div class="col-6">
                <h1 class="account-heading">{{ object.name }}</h1>

                <fieldset>
                    <p class="text-secondary">{{ object.date_from|date:"D, d M, Y" }} -
                        {{ object.date_to|date:"D, d M, Y" }}</p>
                    <p class="text-secondary">Address: {{ object.address }}</p>
                    <p class="text-secondary">Price: {% money_localize object.price %}</p>
                </fieldset>

                <div>
                    <h2>Events</h2>
                    <ul>
                        {% for event in object.events_list %}
                            <li>
                                <a href="{% url 'conferences:event_detail-page' object.slug event.event_id %}">{{ event }} </a>
                            </li>
                            {% empty %}
                            <a>There are no events added to this conference yet.</a>
                        {% endfor %}
                    </ul>
                </div>
                {% if user.id == object.organization.user_id %}
                    <div class="dropdown">

                            <button class="btn1_wide" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                +
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item"
                                   href="{% url 'conferences:event_create-page' object.slug user.username %}?type=lunch">Lunch</a>
                                <a class="dropdown-item"
                                   href="{% url 'conferences:event_create-page' object.slug user.username %}?type=lecture">Lecture</a>
                            </div>
                    </div>
                {% endif %}
            </div>

            {% if user.is_researcher and user_participate %}
                <p><mark>You already have ticket for this conference.</mark></p>
           {% elif not user.is_active%}
                <h5><mark> <a class="viewlink" href="{% url 'users:login-page' %}"> <strong>Log in</strong> </a>  to buy a ticket.</mark></h5>
            {% endif %}



            <div class="dropdown col-1">
                {% if user.id == object.organization.user_id %}
                    <button class="btn bg-transparent" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="font-size: 30px;">
                        &#8942
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item"
                           href="{% url 'conferences:conf_edit-page' user.username object.slug %}">Edit conference</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary dropdown-item" data-toggle="modal" data-target="#DeleteModal">
                          Delete
                        </button>

                    </div>
                {% endif %}
            </div>
        </div>

        {% if user.is_active and user.is_organization and user.organization == object.organization %}
            <!-- Modal -->
            <div class="modal" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">Delete conference</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form method="POST" action="{% url 'conferences:conf_delete-page' object.slug %}" novalidate>{% csrf_token %}
                        <h5> Are you sure you want to delete <strong>{{ object.name }}</strong> conference?</h5>
                        <button class="btn btn-primary" type="submit">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}
          </div>
        </div>
    </div>

{% endblock %}