{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    <style>
        #project {
            width: 300px;
        }

        .res-img {
            float: left;
            width: 70px;
            height: 70px;
        }

        .choices__item {
            display: inline-block;
            vertical-align: middle;
            border-radius: 10px;
            padding: 4px 10px;
            margin-top: 10px;
            font-size: 16px;
            font-weight: 500;
            margin-right: 3.75px;
            margin-bottom: 3.75px;
            background-color: #aaaaaa;
            border: 2px solid #000000;
            color: #fff;
            word-break: break-all;
        }

        .choices__button {
            color: #bbbb00;
            padding-left: 5px;
            opacity: .3;
        }
    </style>

    <div class="row">
    <snap id="date_from" hidden>{{ conf.date_from | date:"Y-m-d" }}</snap>
    <snap id="date_to" hidden>{{ conf.date_to | date:"Y-m-d"}}</snap>
        <div class="col-md-8 col-sm-10 col-12">
            <h4>Add a new event to <strong>{{ conf.name }}</strong> conference</h4>
            <form method="POST" novalidate name="event_form">{% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                    <p> Warning! You will not be able to add any researches or change them after you save this event!</p>
                    <div id="users_for_invite">
                        <input id="project" class="user_res" name="invite_user">
                        <input type="hidden" id="project-id">
                        <input type="hidden" id="pr">
                        <button type="button" onclick="validate()">Add User</button>

                        <ul id="users_add"> </ul> <br>
                    </div>
                    <div class="col text-center">
                        <button class="btn btn-outline-info col-md-6" type="submit">Add</button>
                    </div>
                </form>
            </div>

    </div>
    <script src="{% static 'js/form_fields.js' %}"></script>
    <script src="{% static 'js/event_form.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>
        $( function() {
            $( '#project' ).autocomplete({
                source: {{ data|safe }},
                focus: function( event, ui ) {
                    $( '#project' ).val( ui.item.name );

                    return false;
                },
                select: function( event, ui ) {
                    $( '#project' ).val(ui.item.name);
                    $( "#project-id" ).val( ui.item.value );
                    $( '#pr' ).html(ui.item.username);

                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                .append( "<div> <div> <img class='rounded-circle res-img' src='" + item.img + "'/> </div> <fieldset> <p>"
                    + item.name + "</p> <p>" + item.username + "</p> </fieldset> </div>" )
                .appendTo( ul );
            };
        });

        function validate() {
            let login = document.getElementById("pr").innerText;
            let full_name = document.getElementById("project-id").value;
            let ul = document.getElementById("users_add");
            let children = ul.children;

            if (login === "")
                return false;

            for (let i = 0; i < children.length; i++) {
                if (children[i].getAttribute("name") === login)
                    return false;
            }

            let div_var = document.createElement("div");
            div_var.classList.add("choices__item");
            div_var.setAttribute("name", login);
            div_var.innerHTML = full_name + ", " + login +
                                "<button type='button' class='fa fa-close choices__button' onclick='delete_item(this)'></button>";

            let input_var = document.createElement("input");
            input_var.setAttribute("type", "hidden");
            input_var.setAttribute("name", "test[]");
            input_var.setAttribute("value", login);

            let br_var = document.createElement("br");
            br_var.setAttribute("id", login);

            let new_div_var = document.createElement("div");
            new_div_var.setAttribute("name", login);
            new_div_var.appendChild(div_var);
            new_div_var.appendChild(input_var);
            new_div_var.appendChild(br_var);

            ul.appendChild(new_div_var);
        }

        function delete_item(el) {
            let ul = document.getElementById("users_add");
            let div_name = el.parentNode.getAttribute("name");
            let children = ul.children;

            for (let i = 0; i < children.length; i++) {
                if (div_name === children[i].getAttribute("name")) {
                    ul.removeChild(children[i]);
                }
            }
        }

        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });

        let value = params.type;
        if (value !== "lecture") {
            document.getElementById("users_for_invite").remove();
        }
    </script>
{% endblock %}