{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col-md-8 col-sm-10 col-12">
                <h4>Create new conference</h4>
                <form method="POST" novalidate>{% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <button class="btn btn-outline-info" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}