{% extends 'base.html' %}
{% load static %}
{% load compress %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col-md-8 col-sm-10 col-12">
                <h4>Create new conference</h4>
                <form method="POST" novalidate name="conf_form" >{% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}">
                    {{ form|crispy }}
                    <button class="btn btn-outline-info" type="submit" id="form-submit">Create</button>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static 'js/conf_form.js' %}"></script>
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static 'css/conferences/style.scss' %}">
    {% endcompress %}
{% endblock %}