{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{object.location}}
    <div>
        {% if user.id == object.conference.organization.user_id%}
            <a class="btn btn-sm btn-info" href="{% url 'conferences:event_edit-page' object.conference.slug user.username object.event_id %}">Edit event</a>
            <a class="btn btn-sm btn-info" href="{% url 'conferences:event_delete-page' object.conference.slug user.username object.event_id%}">Delete event</a>
        {%  endif %}
    </div>
</h1>
<p>{{ object.date_time }} - {{ object.duration }}</p>
{% endblock %}