{% extends 'base.html' %}
{% load static %}
{% load djmoney %}
{% block content %}
    <h1>{{ object.name }}</h1>
    <p>{{ object.date_from }} - {{ object.date_to }}</p>
    <p>Address: {{ object.address }}</p>
    <p>Price: {% money_localize object.price %}</p>
    <hr> Events: 
    {% if object.events_list %}
    <ul>
        {% for event in object.events_list %}
        <li><a href="{% url 'ch:event_detail' object.conf_id event.event_id%}">{{ event.location}} </a></li>
        {% endfor %}
    </ul>
    {% else %}
    There are no events added to this confernce yet.
    {% endif %}</hr>
    <hr> <a class="btn btn-sm btn-info" href="{% url 'ch:event_create' object.pk %}">Add a new event</a></hr>
{% endblock %}