{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Search</h1>
    <ul>
        {% for conferenceuser in object_list %}
            <li>
                <div class="content-section">
                    <div class="media">
                        <img class="rounded-circle account-img" src=" {{ conferenceuser.profile.image.url }} ">
                        <div class="media-body">
                            <fieldset>
                                {% if conferenceuser.is_researcher %}
                                    <p class="account-heading">{{ conferenceuser.name }} {{ conferenceuser.researcher.last_name }}</p>
                                    <p class="text-secondary">Researcher</p>
                                {% elif user.is_organization %}
                                    <p class="account-heading">{{ conferenceuser.name }}</p>
                                    <p class="text-secondary">Organization</p>
                                {% else %}
                                    admin?
                                {% endif %}
                                <p class="text-secondary">{{ conferenceuser.username }}</p>
                                <p class="text-secondary">{{ conferenceuser.email }}</p>
                                {% if conferenceuser.address %}
                                    <p class="text-secondary">Address: {{ conferenceuser.address }}</p>
                                {% endif %}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </li>
            {% empty %}
            <li>No users</li>
        {% endfor %}
    </ul>
{% endblock content %}
