{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
{#    <div class="row">#}
{#        <div class="col-md-8 col-sm-10 col-12">#}
{#            <h4>Create new invitation</h4>#}
{#            <form method="POST">#}
{#                {% csrf_token %}#}
{#                {{ form.as_p }}#}
{#                <button class="btn btn-outline-info" type="submit">Creat1e</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

    <style>
        #project {
            width: 300px;
        }

        .res-img {
            float: left;
            width: 70px;
            height: 70px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <script>
        $( function() {
            $( '#project' ).autocomplete({
                source: {{ data|safe }},
                focus: function( event, ui ) {
                    $( '#project' ).val( ui.item.name );

                    return false;
                },
                select: function( event, ui ) {
                    $( '#project' ).val(ui.item.name);
                    $( "#project-id" ).val( ui.item.value );
                    $( '#pr' ).html(ui.item.username);

                    return false;
                }
            })
            .autocomplete( "instance" )._renderItem = function( ul, item ) {
                return $( "<li>" )
                .append( "<div> <div> <img class='rounded-circle res-img' src='" + item.img + "'/> </div> <fieldset> <p>"
                    + item.name + "</p> <p>" + item.username + "</p> </fieldset> </div>" )
                .appendTo( ul );
            };
        });
    </script>

<input id="project">
<input type="hidden" id="project-id">

{% endblock %}
