{% extends "base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}

    {# TODO 19 add styles #}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src=" {{ object.profile.image.url }} ">
        </div>

        <fieldset>
            {% if object.is_researcher %}
                <p class="account-heading">{{ object.name }} {{ object.researcher.last_name }}</p>
                <p class="text-secondary">Researcher</p>
            {% elif user.is_organization %}
                <p class="account-heading">{{ object.name }}</p>
                <p class="text-secondary">Organization</p>
            {% else %}
                {#             admin?#}
            {% endif %}
            <p class="text-secondary">{{ object.username }}</p>
            <p class="text-secondary">{{ object.email }}</p>
            {% if object.address %}
                <p class="text-secondary">Address: {{ object.address }}</p>
            {% endif %}
        </fieldset>

        {% if user.is_authenticated and object == user %}
            <div class="btn_horizontal">
                <a class="btn1_profile" style="width: 50%" href="{% url 'users:profile_update-page' user.username %}">Edit
                    profile</a>
                <a class="btn1_profile" style="width: 50%" href="{% url 'users:password_change-page' user.username %}">Change
                    password</a>
            </div>
        {% endif %}
    </div>

{% endblock content %}
