{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>Sign Up</h2>
    <p class="lead">Select below the type of account you want to create</p>
    <a href="{% url 'users:signup_researcher-page' %}" class=btn role="button">I'm a researcher</a>
    <a href="{% url 'users:signup_organization-page' %}" class=btn role="button">I'm an organization</a>

{#    <div class="content-section">#}
{#        <form method="POST">{% csrf_token %}#}
{#            <fieldset class="form-group">#}
{#                <legend class="border-bottom mb-4">Join today</legend>#}
{#                {{ form|crispy }}#}
{#            </fieldset>#}
{#            <div class="form-group">#}
{#                <button class="btn btn-outline-info" type="submit">Sign Up</button>#}
{#            </div>#}
{#        </form>#}
{#        <div class="border-top pt-3">#}
{#            <small class="text-muted">#}
{#                Already have an account?<a class="ml-2" href="{% url 'users:login-page' %}">Sign In</a>#}
{#            </small>#}
{#        </div>#}
{#    </div>#}
{% endblock content %}