<!-- author: Skuratovich Aliaksandr -->

{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content-section center-text">
        <h2>Sign Up</h2>
        <p class="lead">Select below the type of account you want to create</p>
        <div id="container">
            <a href="{% url 'users:signup_researcher-page' %}" class=btn1 role="button">I'm a researcher</a>
            <a href="{% url 'users:signup_organization-page' %}" class=btn1 role="button">I'm an organization</a>
        </div>
    </div>
{% endblock content %}